@import 'shared/styles/theme';

.lesson {
  @include theme-aware($themes) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    color: themed('background-secondary');

    &__details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border-radius: 10px;
      padding: 10px;
      width: 100%;

      &--container {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      &__img {
        height: 40px;
      }

      &__title {
        all: unset;
        font-size: 18px;
      }

      &__duration {
        all: unset;
        font-size: 18px;
      }
    }

    &--locked {
      opacity: 0.2;
      cursor: not-allowed;

      &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 20px;
      }
    }

    &--active {
      background-color: themed('light-highlight-color');
    }

    &__underline {
      width: 75%;

      border-bottom: 1px solid themed('background-secondary');
    }
  }
}
