@import 'shared/styles/theme';

.playback-speed {
  @include theme-aware($themes) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid themed('color-primary');
    border-radius: 10px;
    padding: 10px;
    &__elem {
      display: flex;
      gap: 20px;
      align-items: center;

      &__btn {
        min-width: 75px;
      }

      &__text {
        all: unset;
        color: themed('background-secondary');
      }
    }
  }
}
