.course {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__lessons {
    display: flex;
    gap: 25px;
    width: 100%;
    min-height: 30vh;
    max-height: 70vh;
    align-items: flex-start;

    @media (max-width: 1024px) {
      flex-direction: column;
    }

    &__video {
      height: auto;
      width: 70%;
      position: relative;

      @media (max-width: 1024px) {
        width: 100%;
      }

      &__btn {
        position: absolute;
        top: 5px;
        right: 5px;
        z-index: 2;
      }

      &__elem {
        width: 100%;
      }

      &--not-found {
        background-color: #444;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 30vh;
        max-height: 70vh;
        width: 70%;

        @media (max-width: 1024px) {
          width: 100%;
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      min-height: 30vh;
      max-height: 70vh;
      overflow: scroll;

      @media (max-width: 1024px) {
        gap: 0px;
        width: 100%;
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.lesson {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;

  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;

    &__img {
      height: 40px;
    }

    &__title {
      all: unset;
      font-size: 18px;
    }

    &__duration {
      all: unset;
      font-size: 18px;
      color: #777;
    }
  }

  &--locked {
    opacity: 0.2;
    cursor: not-allowed;

    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 20px;
    }
  }

  &--active {
    background-color: rgb(192, 213, 236);
  }

  &__underline {
    width: 75%;

    border-bottom: 1px solid black;
  }
}

.playback-speed {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(224, 224, 224);
  padding: 10px;
  &__elem {
    display: flex;
    gap: 20px;
    align-items: center;

    &__btn {
      min-width: 75px;
    }

    &__text {
      all: unset;
    }
  }
}
